.App-header {
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 1rem;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin: 0 1rem;
}

.navbar-item a {
  color: #61dafb;
  text-decoration: none;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.centered-container p {
  margin-right: 8px; /* 调整按钮和文本之间的距离 */
}

